@import url('https://fonts.google.com/specimen/Montserrat');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;

}

a{
    text-decoration: none;
}

.jobs{
    width: 100%;
    height: 100vh;
    background: url(images/terminal.jpg);
    background-size:cover;

}

nav{
    display: flex;
    align-items:center;
    justify-content: center;
    padding: 30px 500px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color:#00ff00;
    position:relative;
    padding: 5px 0;
}
nav ul li a:hover{
    color:#00ff00;
}

nav ul li a:after{
content: "";
position: absolute;
left: 0;
width: 0;
height: 3px;
background: green;
transition: .3s;
bottom: 0;

}

nav ul li a:hover:after{
    width: 100%;
   
}


.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    }
    
.bottom p {
    color: green;
    position: relative;
    left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
    }

.w1{
    color:green;
    font-size: 20px;
    font-weight: 900;
    text-transform: inherit;
    width: 100%;
    margin-top: 50px;
}
.w1 a{
    padding-bottom: 10px;
    color:#00ff00;
    text-transform: inherit;
    margin-left: 400px;
 
}

.w1 p{
    margin-top: 40px;
    width: 55%;
    color: green;
    margin-bottom: 30px;
    margin-left: 20px;
    text-align: center;
}

.w2{
    color: green;
    font-size: 20px;
    font-weight: 900;
    text-transform: inherit;
    width: 100%;
    margin-top: 100px;
    text-align: right;

    }
    
.w2 a{
    padding-bottom: 10px;
    color: #00ff00;
    text-transform: inherit;
    margin-right: 350px;
    }
    
.w2 p{
    margin-top: 40px;
    width: 55%;
    color: green;
    margin-bottom: 30px;
    margin-left: 800px;
    text-align: center;
    }
   
    .w3{
        color:green;
        font-size: 20px;
        font-weight: 900;
        text-transform: inherit;
        width: 100%;
        margin-top: 0px;
    }
    .w3 a{
        padding-bottom: 10px;
        color:#00ff00;
        text-transform: inherit;
        margin-left: 200px;
     
    }
    
    .w3 p{
        margin-top: 40px;
        width: 55%;
        color: green;
        margin-bottom: 30px;
        margin-left: 20px;
        text-align: center;
    }    





    @media only screen and (max-width: 1024px) {
        nav {
          padding: 30px 150px;
        }
        
        .w1 a {
          margin-left: 150px;
        }
        
        .w2 a {
          margin-right: 150px;
        }
      }
      
      @media only screen and (max-width: 600px) {
        nav {
          padding: 30px 50px;
        }
        
        .w1 a {
          margin-left: 50px;
        }
        
        .w2 a {
          margin-right: 50px;
        }
      }
      